@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  background-color: #111111;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  padding: 10px;
}

h3 {
  font-size: 18px;
  color: #A855F7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  background-color: #4f2275;
  font-size: 15px;
}
